*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  background-color: #f2f2f2;
}

/* -------------- HEADER ---------------- */
header {
  position: sticky;
  top: 0;
  z-index: 20;
}

.encabezado {
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1020;
}

.menu{
  background-color: #252c30;
  text-align: center;
  padding: 0.5rem;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
}

.logo img {
  width: 120px;
}

.menu a {
  text-decoration: none;
  color: #b0b9ac;
  padding: 0.1rem;
  font-weight: 800;
  font-size: 1.1rem;
}

.menu a.active {
  color: #88b44e !important;
}

.menu a:hover {
  color: #3a3b40;
  font-style: italic;
  font-weight: bolder;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  box-shadow: none;
}

/* ******* HEADER - MEDIA QUERIES ******* */

@media screen and (min-width:768px) {

  .menu a {
    display: inline;
  }
 
}

/* ----------- MAIN INICIO -------------- */

.inicio {
  width: 80%;
  margin: 3rem auto;
}
.presentacion-box {
  text-align: center;
}
.presentacion-box h1{
  color: #9abf49;
  padding: 0.2rem;
}
.presentacion-box h2 {
  
  color: #3a3b40;
  font-style: italic;
}

.presentacion-box h3 {
  color: #88b44e;
  font-weight: bolder;
}


.noticias-box {
  text-align: center;
  background-image: linear-gradient(to bottom right, #d8d8d8, #f2f2f2);
  padding: 0.5rem;
  border-radius: 0.5rem;
  box-shadow: 0.4rem 0.4rem #b6b6b6;
  margin: 1rem;
}

.button{
  color: aliceblue;
  background-color: #87a644;
  display: inline-block;
  text-decoration: none;
  padding: 8px;
  border-radius: .5rem;
  font-size: small;
}

/* ******* INICIO - MEDIA QUERIES ******* */

@media screen and (min-width:992px) {
  
  .carousel-modif {
    position: relative;
    width: 90%;
    margin: auto;
    padding: 2rem 0;
  }
  .carousel-indicators {
    margin-bottom: 3rem;
  }

  .carousel-control-prev, .carousel-control-next {
    width: 20%;
  }
}

@media screen and (min-width:1024px) {
  .carousel-modif {
    width: 70%;
  }
  .carousel-indicators {
    margin-bottom: 4rem;
  }
}

/* -------- MAIN COMPOSTA / RECICLA / AHORRO ENERGÍA / CONTACTO ---------- */
/* ----- ESTILOS COMPARTIDOS ------ */

.titulo-pagina {
  background-color: #7DBF1B;
  display: flex;
  color: #f2f2f2;
  justify-content: center;
  align-items: center;
  /* padding: 0.5rem; */
  height: 5vh;
  padding: 1.4rem;
}

.titulo-pagina h2 {
  margin-bottom: 0;
}

.tarjetas {
  display: flex;
  flex-direction: column;
  width:80%;
  color: #252c30;
  margin: 1rem auto;
  border-radius: .5rem;
  padding: .8rem;
  background-image: linear-gradient(to bottom right, #d8d8d8, #f2f2f2);
  box-shadow: 0.4rem 0.4rem #d6d6d6;
}

.tarjetas img {
  display: block;
  border-radius: 0.5rem;
  margin: 0.5rem auto;
  width: 80%;
  object-fit: cover;
}

.tarjetas p {
  padding: 0.5rem;
  text-align: justify;
}

/* ******* COMPOSTA Y RECICLA - MEDIA QUERIES ******* */

@media screen and (min-width:992px) {
  
  .tarjetas div {
    display: flex;
  }

  .tarjetas img {
    width: 40%;
    height: auto;
  }

  .tarjetas p {
    display: inline;
  }

  .composta {
    display: flex;
    flex-direction: column;
    position: relative;
  }
}

/* ----------- MAIN ENERGIA -------------- */

.energia-grid {
  display: grid;
  width: 80%;
  margin: 2rem auto;
}

.tip1, .tip2, .tip3, .tip4, .tip5, .tip6, .tip7, .tip8, .tip9 {
    padding: 0.5rem;
    margin-bottom: 1rem;
    text-align: center;
    background-image: linear-gradient(to bottom right, #d8d8d8, #f2f2f2);
    padding: 0.5rem;
    border-radius: 0.5rem;
    box-shadow: 0.4rem 0.4rem #d6d6d6;
    width: 100%;  
  }

.tips-title{
  display: flex;
  align-items: center;
  color: #9abf49;
  padding: 0.2rem;
}

.num{
  border-radius: 100%;
  display: inline-block;
  padding: 0.4rem;
  background-color: #9abf49;
  color: white;
  text-align: center;
  /* margin: 1rem; */
  font-weight: bold;
}

.tips-title h3 {
  padding-left: .5rem;
  margin-bottom: 0;
}

.tip1 p, .tip2 p, .tip3 p, .tip4 p, .tip5 p, .tip6 p, .tip7 p, .tip8 p, .tip9 p {
  padding: 0.5rem;
  text-align: left;
}

.grande{
  display: flex;
  height: 80%;
  width: 80%;
  margin: auto;
}

.grande img{
  display: block;
  height: 100%;
  width: 100%;
  border-radius: 0.5rem;
}

#space{
  height: 1rem;
}

/* ******* ENERGIA - MEDIA QUERIES ******* */

@media screen and (min-width:768px) {

  .tips-title{
    justify-content: left;
  }

  .energia-grid {
    grid-template-areas: 
    "tip1 tip2"
    "tip3 tip4"
    "tip5 tip6"
    "tip7 tip8"
    "tip9 tip9";
    gap: 1rem;  
    grid-template-columns: 1fr 1fr;
  }
  
  .tip1 {
    grid-area: tip1; 
  }

  .tip2 {
    grid-area: tip2;
  } 

  .tip3 {
    grid-area: tip3;
  }

  .tip4 {
    grid-area: tip4;
  }

  .tip5 {
    grid-area: tip5;  
  }

  .tip6 {
    grid-area: tip6;
  }
  .tip7 {
    grid-area: tip7;
  }

  .tip8 {
    grid-area: tip8; 
  }

  .tip9 {
    grid-area: tip9;
  }
}
/* ----------- MAIN TIENDA -------------- */
.lista {
  display: grid;
  width: 80%;
  margin: 2rem auto;
}

.item-box {
  padding: 0.5rem;
  margin-bottom: 1rem;
  text-align: center;
  background-image: linear-gradient(to bottom right, #d8d8d8, #f2f2f2);
  padding: 0.5rem;
  border-radius: 0.5rem;
  box-shadow: 0.4rem 0.4rem #d6d6d6;
  width: 100%;  
}
.item-img {
  display: block;
  height: 100%;
  width: 100%;
  border-radius: 0.5rem;
}
.item-title {
  display: flex;
  justify-content: center;
  color: #9abf49;
  padding: 0.2rem;
}
.item-text {
  color: #7DBF1B;
}
button{
  padding: 0.4rem;
  color:#9abf49;
  font-weight: bolder;
  border: none;
 
}

/* ******* TIENDA - MEDIA QUERIES ******* */
@media screen and (min-width:768px){
  .lista {
    grid-template-areas: 
    "item1 item2 item3";
    gap: 1rem;
  }
}

/* ----------- MAIN CONTACTO -------------- */

.formulario {
  /* display: flex; */
  width: 90%;
  position: relative;
  border-radius: 0.5rem;
  margin: 2rem auto;
  padding: .5rem;
}

.formulario::before {
    content: "";
    background-image: url('../img/contacto/hojita.jpg');
    background-size: cover;
    border-radius: 0.5rem;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.5;
    z-index: -2;
}

form {
  width: 100%;
  display: inline-block;
}

input[type=text], input[type=email] {
  display: block;
  width: 70%;
  padding: 0.5rem;
  margin: 1rem;
  border: none;
  border-radius: 0.3rem;
}

fieldset {
  border: none;
  padding: 0.5rem;
}

fieldset legend {
  font-size: 1rem;
  font-weight: bold;
  font-style: italic;
}

.botones-form {
  display: flex;
  justify-content: space-around;
  margin: 1rem auto;
}

input[type=submit], input[type=reset] {
  background-color: #555;
  border: none;
  border-radius: 0.5rem;
  color: white;
  padding: 0.5rem 0.5rem;
  text-decoration: none;
  cursor: pointer;
}

textarea {
  width: 70%;
  height: 8rem;
  border: none;
  border-radius: 0.5rem;
  resize: none;
  padding: 0.5rem;
  margin: 0.8rem;
}

.ubicacion {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  justify-content: center;
  border-radius: 0.5rem;
  margin: 2rem auto;
  padding: .5rem;
  background-image: linear-gradient(to bottom right, #d8d8d8, #f2f2f2);
}

iframe {
  width: 100%;
}

#parrafo {
  padding: 0.5rem;
}

/* ******* CONTACTO - MEDIA QUERIES ******* */

@media screen and (min-width:768px) {
  
  .ubicacion {
    display: grid;
    grid-template-columns: 2fr 1fr;
    /* grid-template-rows: 1fr; */
    justify-content: space-between;
    padding: 0.5rem;
  }
  
  .mapa {
    grid-area: 1 / 1 / 2 / 2;
  }

  .botones-form {
    display: flex;
    justify-content: center;
    margin: 1rem auto;
  }

  input[type=submit], input[type=reset] {
    margin: 0 8rem;
  }
}


/* ----------- FOOTER -------------- */

footer {
  text-align: center;
}

.footer-container{
  background-color: #1e2326;
  color: #B0B9AE;
}

.footer-text{
  padding: 0.5rem;
}

.footer-text h5{
  color: rgba(136, 180, 78, .7);
  padding: 0.2rem;
}

.redes {
  padding: 1rem;
}

.copyright{
  padding: 0.2rem;
  font-size: small;
  text-align: center;
  background-color: black;
  color: #f2f2f25e;
}

.copyright p, .footer-text p, .footer-text h4 {
  margin-bottom: 0;
}

.footer-text img {
  width: 1.5rem;
  height: 1.5rem;
}

/* ******* FOOTER - MEDIA QUERIES ******* */

@media screen and (min-width:768px) {
  .footer-container{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
  }

  .footer-text{
    text-align: left;
  }

  .footer-text img {
    width: 2rem;
    height: 2rem;
  }

}

@media screen and (min-width:1024px) {
  .footer-text {
    margin-right: 2rem;
  }
  
}


